APP_SECRET=somesecret
MODEL_NAME=ModelGenerationName
VISION_MODEL_PATH=models/.../vision_model.h5
TAXONOMY_PATH=models/.../taxonomy.csv
TF_GEO_MODEL_PATH=models/.../tf_gpmodel.h5
ELEVATION_H3_R4_PATH=models/.../elevation_r4_5m.csv
GEO_THRESHOLDS_PATH=models/.../thresholds.csv
TAXON_RANGES_PATH=models/.../taxon_ranges
GEO_MIN=0.005
