scipy
six
matplotlib
numpy
tifffile
umap_learn
pandas
torch
Flask
Pillow
scikit_learn
pyyaml
Flask-WTF
python-magic
keras
jinja2
itsdangerous
werkzeug
WTForms
flake8
h3
h3pandas
prison
pytest
pytest-cov
pytest-mock
coverage
tensorflow
