aiofiles==24.1.0
aiohttp==3.11.2
flake8==7.0.0
flake8-quotes==3.4.0
Flask[async]==3.0.2
Flask-WTF==1.2.1
h3==3.7.7
h3pandas==0.2.6
itsdangerous==2.1.2
Jinja2==3.1.4
keras==2.14.0
matplotlib==3.8.3
numpy==1.26.4
pandas==2.1.2
pillow==10.3.0
pipenv==2023.12.1
prison==0.2.1
python-magic==0.4.27
PyYAML==6.0.1
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
tensorflow==2.14.0
tifffile==2024.2.12
umap-learn==0.5.5
uWSGI==2.0.24
Werkzeug==3.0.3
WTForms==3.1.2
